/* section {
  display:flex;
  flex-flow:row wrap;
}

#newAccount {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#rebalance {
  display: flex;
  align-items: center;
  justify-content: space-around;
} */
